$primary: #0072AC;
$white: #fff;

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-primary {
  padding: 10px 25px;
  background: $white;
  color: $primary;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid $white;
  &:hover {
    border: 2px solid $white;
    background: $primary;
    color: $white;
  }
}

body {
  // background-color: #4C5364;
  background-color: rgb(74, 82, 103);
}
// .btn-secondary {
//   padding: 10px 25px;
//   background: $primary;
//   color: $white;
//   font-weight: 700;
//   font-size: 18px;
//   border: 2px solid $primary;
//   &:hover {
//     border: 2px solid $primary;
//     background: $white;
//     color: $primary;
//   }
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ImageAnimation {
  100% {
    -ms-transform: translatex(0%);
    -webkit-transform: translatex(0%);
    -moz-transform: translatex(0%);
    -o-transform: translatex(0%);
    transform: translatex(0%);
    opacity: 1;
  }
  0% {
    -ms-transform: translatex(150%);
    -webkit-transform: translatex(150%);
    -moz-transform: translatex(150%);
    -o-transform: translatex(150%);
    transform: translatex(150%);
    opacity: 0;
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0;
  }
}
@keyframes ImageOpacity {
  100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  0% {
    opacity: 0;
  }
}
