@import './App.scss';
.projects {
    color: $white;
    padding: 70px 0;
    .proejct-header,
    .personal-project {
        h2 {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.3em;
            font-weight: 700;
            padding-bottom: 50px;
            font-size: 16px;
        }
    }
    .projects-wrapper {
        .project-content {
            position: relative;
            @media only screen and (max-width: 768px) {
                margin-top: 60px;
                h2 {
                    font-size: 26px;
                }
            }
            h2 {
                margin-bottom: 20px;
                position: relative;
                &:after {
                    content: '';
                    width: 120px;
                    bottom: -11px;
                    left: 1px;
                    position: absolute;
                    border-bottom: 4px solid #b41847;
                }
            }
        }

        .card {
            max-width: 500px;
            @media only screen and (max-width: 768px) {
                max-width: unset;
            }
            img {
                max-width: 100%;
                height: 250px;
                @media only screen and (max-width: 768px) {
                    height: unset;
                }
            }
            .carousel-indicators {
                margin-bottom: 0;
                bottom: -36px;
                li {
                    height: 10px;
                    width: 10px;
                    background-color: #f2f3f7;
                    border-radius: 50%;
                }
            }
            .carousel-control-prev,
            .carousel-control-next {
                display: none;
            }
        }
        .mobile-project {
            @media only screen and (max-width: 768px) {
                &.card {
                    background-color: unset;
                    border: unset;
                }
                .carousel-item {
                    text-align: center;
                }
            }
            img {
                max-width: 100%;
                height: 300px;
            }
        }
    }
    .btn-primary {
        font-size: 14px;
        padding: 8px 13px;
        margin-right: 5px;
        border: 2px solid $primary;
        &:not(:disabled):not(.disabled).active:focus {
          box-shadow: unset;
        }
    }
}