@import './App.scss';
$light_primary: #b41847;
.skills {
    color: white;
    min-height: 400px;
    padding: 50px 0;
    .skill-header {
      border-bottom: 4px solid $light_primary;
      margin-bottom: 30px;
      padding-bottom: 10px;
      h2 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.3em;
        font-weight: 700;
        padding-bottom: 30px;
        font-size: 16px;
      }
    }
    .btn-primary {
      font-size: 14px;
      padding: 8px 13px;
      margin-right: 5px;
      border: 2px solid $light_primary;
      color: $light_primary;
      &:not(:disabled):not(.disabled).active:focus {
        box-shadow: unset;
      }
      &.active {
        background-color: $light_primary !important;
        color: white;
      }
      &:hover {
        color: white;
        border-color: $light_primary;
        background-color: $light_primary;
      }
    }
    .back .skill-header {
      border-color: #711bc6;
      .btn-primary {
        border-color: #711bc6;
        color: #711bc6;
        &.active {
          background-color: #711bc6 !important;
          color: white;
        }
        &:hover {
          background-color: #711bc6;
          color: white;
        }
      }
    }
    .skill-content {
      text-align: center;
      padding-bottom: 25px;
      animation: ImageOpacity 1s linear;
      -webkit-animation-timing-function: linear;
      -webkit-animation-duration: 1s;
      .skill-language {
        padding-top: 5px;
        font-weight: bold;
      }
    }
}
  #progressInput {
    margin: 20px auto;
    width: 30%;
  }
  .circle-background,
  .circle-progress {
    fill: none;
  }
  .circle-background {
    stroke: #fff;
  }
  .web {
    .circle-progress {
      animation: dash 1.5s linear forwards;
      stroke: $light_primary;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  .back {
    .circle-progress {
      animation: dash 1.5s linear forwards;
      stroke: #711bc6;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  .circle-text {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  @keyframes dash {
    from {
      stroke-dasharray: 180;
      stroke-dashoffset: 60;
    }
  }